In [1]:
import pandas_datareader.data as web
import datetime

In [2]:
start =datetime.datetime(2000,1,1)
end = datetime.datetime(2023,9,30)

In [3]:
# Get data
df = web.DataReader('GOOGL','stooq',start,end)
df.dropna(inplace=True)
df.sort_index(inplace=True)
df

                 Open      High        Low      Close       Volume
Date
2004-08-19    2.50000    2.6015    2.39900    2.50850  894076000.0
2004-08-20    2.52525    2.7270    2.51250    2.70775  457144000.0
2004-08-23    2.76875    2.8370    2.72625    2.73500  365488000.0
2004-08-24    2.78100    2.7900    2.58925    2.62175  305252000.0
2004-08-25    2.62400    2.7000    2.59700    2.65000  183956000.0
...               ...       ...        ...        ...          ...
2023-09-25  129.83000  131.1700  128.96000  131.11000   20094643.0
2023-09-26  129.77000  130.3645  127.22000  128.56500   25718704.0
2023-09-27  128.57000  130.8950  128.57000  130.54000   22746452.0
2023-09-28  129.84000  133.3000  129.79000  132.31000   22513132.0
2023-09-29  133.28000  134.0500  130.36000  130.86000   30859790.0

[4811 rows x 5 columns]

In [4]:
# predict in 10 days
pre_days =10
df['label'] = df['Close'].shift(-pre_days)
df

                 Open      High        Low      Close       Volume    label
Date
2004-08-19    2.50000    2.6015    2.39900    2.50850  894076000.0  2.53775
2004-08-20    2.52525    2.7270    2.51250    2.70775  457144000.0  2.50025
2004-08-23    2.76875    2.8370    2.72625    2.73500  365488000.0  2.53950
2004-08-24    2.78100    2.7900    2.58925    2.62175  305252000.0  2.55750
2004-08-25    2.62400    2.7000    2.59700    2.65000  183956000.0  2.55775
...               ...       ...        ...        ...          ...      ...
2023-09-25  129.83000  131.1700  128.96000  131.11000   20094643.0      NaN
2023-09-26  129.77000  130.3645  127.22000  128.56500   25718704.0      NaN
2023-09-27  128.57000  130.8950  128.57000  130.54000   22746452.0      NaN
2023-09-28  129.84000  133.3000  129.79000  132.31000   22513132.0      NaN
2023-09-29  133.28000  134.0500  130.36000  130.86000   30859790.0      NaN

[4811 rows x 6 columns]

In [5]:
# data standardization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
sca_X = scaler.fit_transform(df.iloc[:,:-1])
sca_X

D:\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

array([[-1.02104717, -1.0181845 , -1.02349222, -1.02064401,  5.14743076],
       [-1.02037223, -1.01486759, -1.02042475, -1.01531999,  2.23843076],
       [-1.01386334, -1.01196033, -1.0146479 , -1.01459186,  1.62820468],
       ...,
       [ 2.34887511,  2.372558  ,  2.38643035,  2.40039955, -0.6536954 ],
       [ 2.38282292,  2.43612113,  2.41940231,  2.44769453, -0.65524879],
       [ 2.47477607,  2.45594331,  2.43480724,  2.40895006, -0.59967853]])

In [6]:
# memory days
mem_his_days = 15

In [7]:
# building featutres

from collections import deque
deq = deque(maxlen=mem_his_days)

X = []
for i in sca_X:
    deq.append(list(i))
    if len(deq)==mem_his_days:
        X.append(list(deq))
        
X_lately = X[-pre_days:]
X=X[:-pre_days]
print(len(X))
print(len(X_lately))

y = df['label'].values[mem_his_days-1:-pre_days]
print(len(y))

4787
10
4787

In [8]:
import numpy as np

In [9]:
X = np.array(X)
y = np.array(y)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1)

In [11]:
# Build LSTM
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [12]:
model = Sequential()
model.add(LSTM(10,input_shape=X.shape[1:],activation='relu',return_sequences=True))
model.add(Dropout(0.1))

model.add(LSTM(10,activation='relu',return_sequences=True))
model.add(Dropout(0.1))

model.add(LSTM(10,activation='relu'))
model.add(Dropout(0.1))

model.add(Dense(10,activation='relu'))
model.add(Dropout(0.1))

model.add(Dense(1))

model.compile(optimizer='adam',
             loss='mse',
             metrics=['mape'])

model.fit(X_train,y_train,batch_size=32,epochs=50,validation_data=(X_test,y_test))

Epoch 1/50
135/135 [==============================] - 4s 9ms/step - loss: 2609.6531 - mape: 92.8464 - val_loss: 171.3901 - val_mape: 36.0337
Epoch 2/50
135/135 [==============================] - 1s 7ms/step - loss: 378.6451 - mape: 31.1367 - val_loss: 54.7268 - val_mape: 13.1278
Epoch 3/50
135/135 [==============================] - 1s 7ms/step - loss: 251.9998 - mape: 25.2206 - val_loss: 48.7448 - val_mape: 12.9695
Epoch 4/50
135/135 [==============================] - 1s 7ms/step - loss: 249.2244 - mape: 24.0020 - val_loss: 103.0899 - val_mape: 15.5960
Epoch 5/50
135/135 [==============================] - 1s 8ms/step - loss: 236.6054 - mape: 23.5841 - val_loss: 22.7318 - val_mape: 9.9480
Epoch 6/50
135/135 [==============================] - 1s 8ms/step - loss: 220.7125 - mape: 22.4716 - val_loss: 80.7712 - val_mape: 10.2681
Epoch 7/50
135/135 [==============================] - 1s 7ms/step - loss: 222.2602 - mape: 21.4704 - val_loss: 100.3347 - val_mape: 11.3548
Epoch 8/50
135/135 [==============================] - 1s 7ms/step - loss: 218.6056 - mape: 21.5641 - val_loss: 81.8183 - val_mape: 13.6605
Epoch 9/50
135/135 [==============================] - 1s 7ms/step - loss: 236.9821 - mape: 21.8828 - val_loss: 44.3454 - val_mape: 10.9391
Epoch 10/50
135/135 [==============================] - 1s 7ms/step - loss: 198.4832 - mape: 20.4484 - val_loss: 20.8513 - val_mape: 7.6341
Epoch 11/50
135/135 [==============================] - 1s 9ms/step - loss: 173.3235 - mape: 20.0955 - val_loss: 24.7309 - val_mape: 11.9340
Epoch 12/50
135/135 [==============================] - 1s 8ms/step - loss: 177.3957 - mape: 19.7700 - val_loss: 15.1786 - val_mape: 6.6919
Epoch 13/50
135/135 [==============================] - 1s 8ms/step - loss: 168.9151 - mape: 19.9500 - val_loss: 93.3028 - val_mape: 12.6148
Epoch 14/50
135/135 [==============================] - 1s 7ms/step - loss: 169.5669 - mape: 19.7390 - val_loss: 67.1610 - val_mape: 12.0814
Epoch 15/50
135/135 [==============================] - 1s 7ms/step - loss: 158.8944 - mape: 18.9772 - val_loss: 85.4238 - val_mape: 13.1451
Epoch 16/50
135/135 [==============================] - 1s 7ms/step - loss: 148.5272 - mape: 19.3034 - val_loss: 25.3350 - val_mape: 8.6817
Epoch 17/50
135/135 [==============================] - 1s 7ms/step - loss: 142.5538 - mape: 19.3554 - val_loss: 17.0760 - val_mape: 6.6218
Epoch 18/50
135/135 [==============================] - 1s 8ms/step - loss: 155.4509 - mape: 18.8145 - val_loss: 50.6110 - val_mape: 9.7494
Epoch 19/50
135/135 [==============================] - 1s 8ms/step - loss: 150.7398 - mape: 18.2317 - val_loss: 28.2749 - val_mape: 8.6573
Epoch 20/50
135/135 [==============================] - 1s 8ms/step - loss: 147.8564 - mape: 18.1831 - val_loss: 35.7717 - val_mape: 11.3318
Epoch 21/50
135/135 [==============================] - 1s 7ms/step - loss: 160.2724 - mape: 18.7426 - val_loss: 101.5430 - val_mape: 13.3726
Epoch 22/50
135/135 [==============================] - 1s 7ms/step - loss: 147.4944 - mape: 18.5908 - val_loss: 19.8530 - val_mape: 11.6454
Epoch 23/50
135/135 [==============================] - 1s 7ms/step - loss: 155.4792 - mape: 17.5687 - val_loss: 19.2924 - val_mape: 7.9103
Epoch 24/50
135/135 [==============================] - 1s 7ms/step - loss: 155.3904 - mape: 18.5657 - val_loss: 26.9597 - val_mape: 9.4921
Epoch 25/50
135/135 [==============================] - 1s 7ms/step - loss: 142.7136 - mape: 17.3553 - val_loss: 38.7974 - val_mape: 8.4007
Epoch 26/50
135/135 [==============================] - 1s 7ms/step - loss: 146.5592 - mape: 17.2115 - val_loss: 32.1044 - val_mape: 7.3813
Epoch 27/50
135/135 [==============================] - 1s 7ms/step - loss: 145.3231 - mape: 18.0210 - val_loss: 44.3148 - val_mape: 9.6928
Epoch 28/50
135/135 [==============================] - 1s 7ms/step - loss: 148.4415 - mape: 17.7827 - val_loss: 89.7162 - val_mape: 10.4864
Epoch 29/50
135/135 [==============================] - 1s 7ms/step - loss: 151.8071 - mape: 16.9437 - val_loss: 39.7875 - val_mape: 9.1146
Epoch 30/50
135/135 [==============================] - 1s 7ms/step - loss: 143.8445 - mape: 17.3030 - val_loss: 78.4223 - val_mape: 11.0810
Epoch 31/50
135/135 [==============================] - 1s 7ms/step - loss: 164.0296 - mape: 16.9624 - val_loss: 53.9354 - val_mape: 9.6096
Epoch 32/50
135/135 [==============================] - 1s 7ms/step - loss: 157.1800 - mape: 18.0265 - val_loss: 44.3473 - val_mape: 11.1343
Epoch 33/50
135/135 [==============================] - 1s 7ms/step - loss: 151.2040 - mape: 17.3041 - val_loss: 24.4437 - val_mape: 7.0772
Epoch 34/50
135/135 [==============================] - 1s 7ms/step - loss: 145.2091 - mape: 16.9320 - val_loss: 51.6663 - val_mape: 9.9842
Epoch 35/50
135/135 [==============================] - 1s 7ms/step - loss: 145.4765 - mape: 17.2242 - val_loss: 60.6676 - val_mape: 10.8748
Epoch 36/50
135/135 [==============================] - 1s 7ms/step - loss: 134.3586 - mape: 16.9016 - val_loss: 42.6307 - val_mape: 8.2248
Epoch 37/50
135/135 [==============================] - 1s 7ms/step - loss: 133.3645 - mape: 16.8485 - val_loss: 75.0347 - val_mape: 12.3679
Epoch 38/50
135/135 [==============================] - 1s 7ms/step - loss: 137.6123 - mape: 17.0497 - val_loss: 67.6461 - val_mape: 10.5410
Epoch 39/50
135/135 [==============================] - 1s 7ms/step - loss: 129.1302 - mape: 16.6213 - val_loss: 34.3747 - val_mape: 8.4049
Epoch 40/50
135/135 [==============================] - 1s 7ms/step - loss: 133.8492 - mape: 16.6183 - val_loss: 42.9984 - val_mape: 10.0037
Epoch 41/50
135/135 [==============================] - 1s 7ms/step - loss: 133.6555 - mape: 16.8551 - val_loss: 64.9817 - val_mape: 12.3842
Epoch 42/50
135/135 [==============================] - 1s 7ms/step - loss: 145.4714 - mape: 17.4218 - val_loss: 74.6273 - val_mape: 11.0702
Epoch 43/50
135/135 [==============================] - 1s 7ms/step - loss: 134.2221 - mape: 16.0919 - val_loss: 96.6280 - val_mape: 12.4202
Epoch 44/50
135/135 [==============================] - 1s 7ms/step - loss: 135.7953 - mape: 16.2770 - val_loss: 34.7630 - val_mape: 9.1048
Epoch 45/50
135/135 [==============================] - 1s 7ms/step - loss: 145.9382 - mape: 16.2782 - val_loss: 93.4533 - val_mape: 11.9035
Epoch 46/50
135/135 [==============================] - 1s 7ms/step - loss: 141.3654 - mape: 16.8515 - val_loss: 79.5294 - val_mape: 12.5152
Epoch 47/50
135/135 [==============================] - 1s 7ms/step - loss: 132.0125 - mape: 15.9420 - val_loss: 56.8761 - val_mape: 9.7148
Epoch 48/50
135/135 [==============================] - 1s 7ms/step - loss: 129.6832 - mape: 15.5878 - val_loss: 45.5707 - val_mape: 8.5886
Epoch 49/50
135/135 [==============================] - 1s 7ms/step - loss: 132.6579 - mape: 15.6046 - val_loss: 78.2034 - val_mape: 12.0222
Epoch 50/50
135/135 [==============================] - 1s 7ms/step - loss: 129.1401 - mape: 15.1330 - val_loss: 31.7659 - val_mape: 8.2539